@import 'variables';

.history {
    min-height: 100vh;
    &__h2 {
        color: $main-c;
        font-size: 3.8rem;
        text-align: center;
        padding: 100px 0 40px;
        margin: 0;
        @media screen and (max-width: 576px) {
            padding: 50px 0 20px;
            font-size: 2.8rem;
        }
    }
    &__items {
        width: 100%;
        display: flex;
        @media screen and (max-width: 576px) {
            flex-wrap: wrap;
        }
    }
    &__img {
        width: 33%;
        margin: 0 20px;
        @media screen and (max-width: 576px) {
            width: 80%;
            margin: 0 auto;
            max-height: 400px;
            overflow: hidden;
        }
        img {
            width: 100%;
            border-radius: 10px;
            @media screen and (max-width: 576px) {
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &__text {
        font-size: 2.3rem;
        width: 67%;
        margin: 0 20px;
        padding: 0 30px;
        @media screen and (max-width: 992px) {
            font-size: 1.7rem;
            padding: 0;
        }
        @media screen and (max-width: 768px) {
            margin: 0 10px;
        }
        @media screen and (max-width: 576px) {
            // text-align: center;
            margin: 20px auto 0;
        }
        p {
            margin: 0 0 20px;
        }
    }
}

.swiper-wrapper {
    height: 30vh;
}

.swiper__items {
    display: flex;
    width: 60%;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        width: 80%;
    }
    @media screen and (max-width: 576px) {
        width: 90%;
    }
}

.swiper__item {
    overflow: hidden;
    padding: 10px;
    height: 30vh;
}

.swiper-container {
    width: 100%;
    padding: 50px 0;
    @media screen and (max-width: 576px) {
        padding: 10px 0 30px;
    }
}

.swiper-img {
    margin: 0 auto;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    @media screen and (max-width: 768px) {
        object-fit: cover;
        object-position: center;
    }
}

.swiper-button-prev::after, 
.swiper-button-next::after {
    color: rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    font-weight: 700;
    @media screen and (max-width: 576px) {
        display: none;
    }
}

.swiper-pagination-bullet {
    background-color: $text-color;
    width: 10px;
    height: 10px;
}