@mixin hover {
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}

@mixin sth2 {
    font-size: 2.4rem;
    color: $main-c;
    text-align: center;
}

@mixin pCenter {
    display: flex;
    align-items: center;
}