.why {
    background-color: #CEA19B;
    color: #fff;
    @media screen and (max-width: 992px) {
        margin-top: 430px;
    }
    @media screen and (max-width: 576px) {
        margin-top: 200px;
    }
    &__h2 {
        font-size: 3.4rem;
        text-align: center;
        padding: 90px 0 40px;
        @media screen and (max-width: 992px) {
            padding: 70px 0 20px;
            font-size: 3rem;
        }
        @media screen and (max-width: 768px) {
            font-size: 2.8rem;
        }
        @media screen and (max-width: 576px) {
            font-size: 2.8rem;
        }
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        padding: 0 0 150px;
        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 576px) {
            display: block;
            margin: 0 auto;
        }
    }
    li {
        margin: 20px 20px;
        border: 1px solid rgba(255, 255, 255, 0.61);
        border-radius: 5px;
        padding: 10px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        @media screen and (max-width: 1200px) {
            padding: 10px 10px;
        }
        @media screen and (max-width: 992px) {
            width: calc(50% - 2 * 30px);
        }
        @media screen and (max-width: 576px) {
            width: 70%;
            margin: 20px auto;
        }
    }
    &__num {
        font-size: 3.2rem;
        font-weight: 700;
        padding: 0 10px;
        margin: 5px 0;
        @media screen and (max-width: 1200px) {
            font-size: 2.8rem;
        }
    }
    &__p {
        font-size: 2rem;
        padding: 10px 10px;
        @media screen and (max-width: 1200px) {
            padding: 10px 5px 10px 10px;
        }
    }
    &__our-toys {
        position: relative;
    }
    &__h2--position {
        margin: 0;
        position: absolute;
        left: 10%;
        width: 80%;
        font-size: 3.8rem;
        border-radius: 10px;
        color: #000;
        background-color: #fff;
        top: -40px;
        z-index: 2;
        @media screen and (max-width: 576px) {
            font-size: 2.8rem;
            padding: 50px 0 0;
            top: -20px;
        }
    }
}

.swiper-container {
    background-color: #fff;
    padding-top: 150px;
    position: relative;
    max-width: 100%;
    @media screen and (max-width: 992px) {
        padding-top: 100px;
    }
    @media screen and (max-width: 576px) {
        padding-top: 80px;
    }
}

.swiper-img {
    margin: 0 auto;
    display: block;
    height: 100vh;
    @media screen and (max-width: 768px) {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.swiper-button-prev::after, 
.swiper-button-next::after {
    color: #000;
    font-size: 5rem;
    font-weight: 700;
    opacity: .7;
}

.swiper-pagination-bullet {
    background-color: #000;
    width: 10px;
    height: 10px;
}