@import 'mixins';
@import 'variables';

.why {
    background-color: $main-c;
    color: #fff;
    &__h2 {
        font-size: 3.4rem;
        font-weight: 800;
        text-align: center;
        margin: 0;
        padding: 80px 0 40px;
        @media screen and (max-width: 992px) {
            padding: 70px 0 20px;
            font-size: 3rem;
        }
        @media screen and (max-width: 768px) {
            font-size: 2.8rem;
        }
        @media screen and (max-width: 576px) {
            font-size: 2.8rem;
        }
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        padding: 0 0 80px;
        margin: 0;
        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 576px) {
            display: block;
            margin: 0 auto;
        }
    }
    li {
        border: 1px solid rgba(255, 255, 255, 0.61);
        border-radius: 100px;
        padding: 10px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        @media screen and (max-width: 1200px) {
            padding: 10px 10px;
        }
        @media screen and (max-width: 992px) {
            width: calc(50% - 2 * 30px);
            margin: 10px 0;
        }
        @media screen and (max-width: 576px) {
            width: 70%;
            margin: 20px auto;
        }
    }
    &__num {
        font-size: 3.8rem;
        font-weight: 700;
        padding: 0 10px;
        margin: 5px 0;
        @media screen and (max-width: 1200px) {
            font-size: 2.8rem;
        }
    }
    &__p {
        font-size: 2rem;
        line-height: 2.4rem;
        padding: 10px 10px;
        margin: 0;
        @media screen and (max-width: 1200px) {
            padding: 10px 5px 10px 10px;
        }
    }
}