@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700;900&display=swap');
@import 'normalize';
@import 'humburger';
@import 'why';
@import 'contact';
@import 'footer';

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

html {
    font-size: 10px;
}

a, button {
    transition: all .3s ease-in-out 
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 {
    font-weight: 900;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    background: url('../img/main-img-beer.jpg') 0 0/cover no-repeat;
    margin-bottom: 200px;
    min-height: 100vh;
    position: relative;
    @media screen and (max-width: 992px) {
        background: url('../img/main-img-beer.jpg') 30% 0/cover no-repeat;
    }
    @media screen and (max-width: 576px) {
        margin-bottom: 300px;
        background: url('../img/main-img-beer.jpg') 60% 0/cover no-repeat;
    }
    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    &__logo {
        img {
            width: 60px;
            margin: 10px;
        }
    }
    &__little-h {
        // position: fixed;
        // top: 0;
        // left: 50%;
        z-index: 7;
        font-size: 2.7rem;
        padding: 0;
        margin: 10px 0;
        color: #fff;
        opacity: 0; 
        font-family: 'Pacifico', cursive;
        text-shadow: 0 0 1px rgba(21, 127, 197, 0.753);
    } 
    &__links {
        ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
        }
        li {
            margin: 10px 20px;
        }
        a {
            // font-family: 'Pacifico', cursive;
            color: #fff;
            text-decoration: none;   
            font-weight: 300;
            text-shadow: 0 0 1px rgba(21, 127, 197, 0.8);
        }
    }
    &__content {
        padding: 200px 30px;
        text-align: center;
        h1 {
            font-size: 5.1rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #fff;
            @media screen and (max-width: 576px) {
                font-size: 4rem;
                padding: 0;
            }
        }
        p {
            font-family: 'Lato', sans-serif;
            color: #fff;
            font-size: 2.1rem;
            font-weight: 300;
        }
    }
    &__protect {
        position: absolute;
        bottom: -150px;
        left: 10%;
        z-index: 4;
        color: #000;
        background-color: #fff;
        width: 80%;
        border-radius: 10px;
        display: flex;
        h2 {
            margin: 0;
            @media screen and (max-width: 576px) {
                bottom: -300px;
                font-size: 1.2rem;
            }
        }
        @media screen and (max-width: 992px) {
            display: block;
            bottom: -390px;
        }
        @media screen and (max-width: 576px) {
            bottom: -300px;
            font-size: 2rem;
        }
    }
    &__protect-item {
        color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
        font-size: 2.5rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        margin: 45px 20px;
        width: 50%;
        height: 180px;
        @media screen and (max-width: 1200px) {
            font-size: 2.2rem;
            margin: 35px 15px;
            padding: 15px 25px;
        }
        @media screen and (max-width: 992px) {
            width: calc(100% - 20px);
        }
        @media screen and (max-width: 576px) {
            font-size: 2rem;
            height: 150px;
            left: 0;
            padding: 10px 15px;
            margin: 15px auto;
        }
        .fas {
            color: rgba(0, 0, 0, 0.8);
            font-size: 7rem;
            @media screen and (max-width: 1200px) {
                font-size: 6rem;
            }
            @media screen and (max-width: 576px) {
                font-size: 4rem;
            }
        }
    }
    &__protect-item--l {
        margin-right: 10px;
        @media screen and (max-width: 992px) {
            margin-right: 0;
            margin: 30px 10px;
        }
    }
    &__protect-item--r {
        margin-left: 10px;
        @media screen and (max-width: 992px) {
            margin-left: 0;
            margin: 30px 10px;
        }
    }
    &__links--ham {
        ul {
            text-align: center;
            list-style: none;
            display: flex;
            flex-direction: column;
        }
        li {
            margin: 30px 20px;
        }
        a {
            font-size: 4rem;
            color: #fff;
            text-decoration: none; 
            font-size: 3rem;  
            font-weight: 700;
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.753);
        }
    }
}

.show {
    opacity: 1;
}

.about-us {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    h2 {
        font-size: 4rem;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 20px 0;
    }
    p {
        font-size: 2rem;
        margin: 0; 
        padding: 10px;
    }
}


#map {
    height: 100vh;
    width: 100%;
}